.button {
  cursor: pointer;
  appearance: none;
  position: relative;
  border: none;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 16px;
  background: linear-gradient(
    to left top,
    var(--color-3),
    var(--color-4),
    var(--color-2)
  );
  outline: 1px solid var(--color-3);
  transition: all 0.2s ease;
  color: inherit;

  &:hover {
    transition: all 0.2s ease;
    filter: invert(1);
  }

  &:focus-visible {
    outline-width: 3px;
  }

  &:active {
    transition: all 0.2s ease;
    transform: translateX(10px);
    outline-width: 1px;
  }
}
