.button {
  cursor: pointer;
  appearance: none;
  position: relative;
  border: none;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 16px;
  border-radius: 8px;
  background: var(--color-3-dark);
  outline-color: var(--color-1);
  color: white;
  transition: all 0.2s ease;
  box-shadow: 1px 6px 20px 1px rgb(0 0 0 / 14%);

  &:hover:not(:disabled) {
    transition: all 0.2s ease;
    background: var(--color-3);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:focus-visible {
    outline-width: 3px;
  }

  &:active:not(:disabled) {
    transition: all 0.2s ease;
    transform: translateX(10px);
    outline-width: 1px;
  }
}
