.Container {
  position: sticky;
  top: 0;
  min-height: 60px;
  background-color: var(--color-3-dark);
  color: white;
  display: flex;
  z-index: 2;
  box-shadow: 1px 6px 20px 1px rgb(0 0 0 / 14%);
}

.Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  font-weight: 400;
  flex: 1;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 660px) {
  .Wrapper {
    padding: 0 40px;
  }
}

.Up {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
