.wrapper {
  padding: 10px 20px;
  background-color: var(--color-1);
  cursor: default;
  box-shadow: 1px 6px 20px 1px rgb(0 0 0 / 14%);
  border-radius: 8px;
  min-width: 200px;
  text-align: center;
}
