@mixin boxShadow {
  box-shadow: 1px 6px 20px 1px rgb(0 0 0 / 14%);
}

.Container {
  display: grid;
  grid-template-columns: repeat(2, 45vw);
  grid-template-rows: minmax(500px, auto);
  gap: 40px;
  align-items: flex-start;
  margin-bottom: 200px;
}

@media (max-width: 1000px) {
  .Container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.ImageWrapper {
  display: flex;
  position: sticky;
  top: 100px;
  justify-content: center;
  align-content: center;
  background-color: var(--color-1);
  @include boxShadow;
  border-radius: 8px;
}

@media (max-width: 1000px) {
  .ImageWrapper {
    position: static;
    border-radius: 0;
  }
}

.ImageInner {
  padding: 60px;

  img {
    width: 300px;
    box-shadow: 8px 8px 20px 3px #00000070;
  }
}

@media (max-width: 500px) {
  .ImageInner {
    padding: 40px;
    img {
      width: 200px;
    }
  }
}

@media (max-width: 300px) {
  .ImageInner img {
    width: 100px;
  }
}

.TextWrapper {
  display: flex;
  flex-direction: column;

  > :not(:last-child) {
    margin-bottom: 20px;
  }
}

.TagsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  h4 {
    background-color: var(--color-1);
    padding: 8px 16px;
    font-weight: 400;
    border-radius: 8px;
    @include boxShadow;
  }
}

@media (max-width: 1000px) {
  .TagsWrapper {
    margin: 0 20px 20px;
  }
}

.Title {
  @include boxShadow;

  h2 {
    padding: 20px 28px;
    background-color: var(--color-1);
    border-radius: 8px;
  }
}

@media (max-width: 1000px) {
  .Title h2 {
    border-radius: 0;
  }
}

.Authors h4 {
  font-style: italic;
}

.Description {
  background-color: var(--color-1);
  padding: 24px 30px;
  @include boxShadow;
  text-indent: 40px;
  line-height: 26px;
  border-radius: 8px;
  text-align: justify;
}

@media (max-width: 1000px) {
  .Description {
    padding: 24px 24px;
    text-indent: 20px;
    font-size: 0.9em;
    border-radius: 0;
  }
}

.AdditionalTags h4 {
  display: flex;
  gap: 4px;
  align-items: baseline;
}
