.Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Wrapper {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex: 1;
}
